<!doctype html>
<html>
    <head>
        <title>{{pagetitle}}</title>
        <style type="text/css">
            .error,.flashes {
                color: red;
            }
            input,textarea{
                width:300px;
            }
            span.writtenby{
                font-style: italic;
            }
            span.pagination{
                width:100%; 
                text-align:center;
                text-decoration: none
            }
            span.pagination a{
                text-decoration: none
            }
            
            
        </style>
    </head>
<body>
    <nav style="width:100%; text-align:left">
        <a href="/">Home</a> |
        <a href="/listblogs">Blogs</a> |
        <a href="/newblog">Add New Blog</a> 
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/login">Login</a> |
        <a href="/logout">Logout</a> |
    </nav>
    <h1 style="width:100%; text-align:center">{{pagetitle}}</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
    <p>
        {% block content %}
        {% endblock %}
    </p>
</body>
</html>