{% extends "base.html" %}

{% block content %}
    
    {% if blogs|length == 0 %}
        <p>No Blogs yet</p>
    {% else %}

        {% for blog in blogs %}
        <h1><a href="/listblogs?id={{blog.id}}">{{ blog.title }}</a></h1>
        <span>{{ blog.body }}</span>
        <br/><br/>
        <span  class='writtenby'>
            - written by <a href="/listblogs?user={{blog.owner.id}}"">{{blog.owner.username}}</a>
        </span>

        <hr/>
        {% endfor %}

    {% endif %}

{% endblock %}